@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Vehical Management System</h1>
    <p>
        An organisation’s fleet is often the second-largest cost, after staffing. With ever-increasing pressure to reduce fleet costs, pool vehicles and shared fleets are becoming more popular.

        Pool vehicle management allow fleets to maximise the utilisation of vehicles and ensure that the vehicle type matches the requirements of the job. Some organisations are even sharing their pool fleets with other organisations, further improving utilisation, and reducing the costs for all parties.

        Pool vehicle management systems ensure that staff can only select the vehicles they’re authorised and licensed to use. This improves the efficiency of allocating the costs within the business and managing personal usage, including fringe benefits tax.
    </p>
</div>
